@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* soln */

ul {
  list-style-type: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}

ul {
  display: flex;
  font-size: smaller;
}

section {
  text-align: center;
}

.buttons {
  padding: 8px 0 0 0;
}

footer {
  background-color: #eeee;
}